In [1]:
if True:
    print 'It was True'

It was True

In [2]:
x = False
if x:
    print 'x was True'
#elif x:
else:
    print 'x is anything not True'

x is anything not True

In [3]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [6]:
for num in l:
    print num
    print 'something'

1
something
2
something
3
something
4
something
5
something

In [7]:
#Modulo
10%3

1

In [11]:
 for num in l:
        if num%2 ==0:
            print 'even no.'+ str(num)
        else:
            print 'odd no.'+ str(num)

odd no.1
even no.2
odd no.3
even no.4
odd no.5

In [16]:
list_sum=0
for num in l:
    list_sum += num

In [17]:
print list_sum

15

In [18]:
s = 'this is a string'
for item in s:
    print item

t
h
i
s

i
s

a

s
t
r
i
n
g

In [19]:
tup = (1,2,3,4,5)

In [20]:
for t in tup:
    print t

1
2
3
4
5

In [21]:
l =[(2,4), (6,8), (10,12)]

In [22]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [24]:
# tupple unpacking
for (t1,t2) in l:
    print t1

2
6
10

In [25]:
d={'k1':1,'k2':2,'k3':3}

In [26]:
for item in d:
    print item

k3
k2
k1

In [27]:
# d.iteritems()
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1

In [28]:
# while loops

In [29]:
x=0
while x<10:
    print 'x is currently:', x
    x+=1

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9

In [30]:
x=0
while x<10:
    print 'x is currently:', x
    x+=1
else:
    print 'All done!'

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9
All done!

In [31]:
# break, continue, pass

In [35]:
x=0
while x <10:
    print 'x is currently', x
    print 'x is still less than 10, adding 1 to x'
    x+=1
    if x==3:
        print 'Hey x equals 3!'
        break
    else:
        print 'continuing..'
        #continue

x is currently 0
x is still less than 10, adding 1 to x
continuing..
x is currently 1
x is still less than 10, adding 1 to x
continuing..
x is currently 2
x is still less than 10, adding 1 to x
Hey x equals 3!

In [ ]:
#while True: 
    #print 'infinte'

In [36]:
# range()

In [37]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
x=range(0,10)

In [40]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
type(x)

list

In [42]:
start=0
stop=20
step=2
range(start, stop, step)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
range(20,2)

[]

In [45]:
l=[1,2,3,4,5]
for num in l:
    print num

1
2
3
4
5

In [46]:
for num in range(1,6):
    print num

1
2
3
4
5

In [47]:
# if very large data needed do not use this  bcz it will
# load all data in memory
#for num in range(1,999999):
# use generator: xrange()

In [48]:
x=xrange(1,6)

In [49]:
x

xrange(1, 6)

In [50]:
type(x)

xrange

In [51]:
x2=range(1,6)

In [52]:
type(x2)

list

In [53]:
list(x)

[1, 2, 3, 4, 5]

In [54]:
x3 =  list(x)
type(x3)

list

# COmprehension

In [55]:
l=[]
for letter in 'word':
    l.append(letter)

In [56]:
l

['w', 'o', 'r', 'd']

In [58]:
# in list comprehension:
l = [letter for letter in 'word']

In [59]:
l

['w', 'o', 'r', 'd']

In [61]:
#x^2 for x in range(0,10)
lst = [x**2 for x in range(0,11)]

In [62]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
lst=[number for number in range(11) if number%2==0]

In [66]:
lst

[0, 2, 4, 6, 8, 10]

In [67]:
celsius = [0,10,20.1,34.5]
fahrenheit = [ (temp *(9/5.0)+32) for temp in celsius]

In [68]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [69]:
#x**4 for num in range(11)
lst =[x**2 for x in [x**2 for x in range(11)]]

In [70]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]